@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<PageTitle>Daberna</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu/>
            </div>
            <main>
                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
        @{
            NavigationManager.NavigateTo($"Identity/Account/Login", true);
        }
    </NotAuthorized>
</AuthorizeView>