@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inherits BaseAuthPage


<nav class="flex-column">
    <form method="post" action="Identity/Account/Logout">
        <button type="submit" class="nav-link btn btn-link">Log out</button>
    </form>
</nav>



